@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.credentials {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (min-width: 768px) {
  .credentials {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: auto;
  }
}
